/* Responsive NavBar */


@media screen and (max-width: 1100px) {
    .user, .roundedlive-img, .rounded1-img, .spacenav {
        display: none;
    }
}

@media screen and (max-width: 1020px) {
    .user, .roundedlive-img, .rounded1-img, .spacenav {
        display: none;
    }

    .navbar {
        width: 100vw;
        background-color: white;
        height: 60px;
    }

    .img1 {
        display: none;
    }

    .img2 {
        display: block;
    }

    .split-left {
        padding-left: 0;
        margin-left: 7px;
        margin-top: 15px;

    }

    .split-right {
        width: auto;
    }

    .div-cont1 {
        display: none;
    }

}


@media screen and (max-width: 1020px) {


    .bigimg {
        width: 100%;
    }

    .rotation img {
        width: 200px;
        height: auto;
    }

    .rotation {
        top: -20px;
    }

    .livemilan {
        margin-top: -110px;
        margin-left: 10px;
    }

    .blue-title {
        font-size: 30px;
        margin-left: 10px;
    }
}


@media screen and (max-width: 770px) {
    .mainadv {
        display: none;
    }

    .mainadv1 {
        display: block;
        padding-top: 70px;
    }
}

/* .grid-cpntainer responsive*/

@media only screen and (max-width: 1020px) {
    .grid-container {
        grid-template-columns: 264px 284px;
        max-width: 580px;
        margin: 0 auto;
    }

    .item2 {
        display: none;
    }

    .item2-adv2 {
        display: block;
    }

    .item4, .item6 {

    }

    .item7 {
        grid-column-end: span 2;
    }

    .item7 div a img {
        width: 100%;
        height: auto;
    }
}

/* .grid-container-1 responsive */

@media only screen and (max-width: 1020px) {
    .grid-container-1 {
        grid-template-columns: 100%;
        column-gap: 0;
        max-width: 580px;
        margin: 0 auto;
    }

    .item1-2 {
        width: 100%;
    }

    .item1-2 div a img {
        width: 100%;
        height: auto;
    }

    .item1-1 video {
        width: 580px;
    }

    .adv {
        margin-left: 0;
    }
}

/* .grid-container-2 */

@media only screen and (max-width: 1020px) {
    .grid-container-2 {
        grid-template-columns: 100%;
        max-width: 580px;
        margin: 0 auto;
    }

    .item2-1 div a img, .item2-2 div a img, .item2-3 div a img, .item2-4 div a img {
        width: 100%;
    }

    .style-green {
        font-size: 20px;
    }

    .sub-title, .divider, .div-cont {
        margin-left: 10px;
    }

    .big-hr {
        width: auto;
        margin: 8px;
    }

    .tag-seriea {
        margin-right: 10px;
    }

}

/* grid-container-3 */

@media only screen and (max-width: 1020px) {
    .grid-container-3 {
        grid-template-columns: 100%;
        max-width: 580px;
        margin: 0 auto;
    }

    .cont2 {
        display: none;
    }
}


@media screen and (max-width: 1020px) {
    .big-text {
        width: 100%;
        font-size: 30px;

    }

    .div-cont {
        font-size: 15px;
    }

    .adv-responsive {
        max-width: 580px;
        margin: 0 auto;
    }
}


/*Responsive footer*/

@media only screen and (max-width: 1020px) {
    .grid-footer {
        grid-template-columns: 274px 274px;
    }

    .footer2img, .responsive-footer {
        display: none;
    }

    .footer-subtitle {
        font-size: 20px;
    }

    .divider-1 {
        width: 12%;
    }

}
