.navbar {
    width: 100%;
    height: 87px;
    overflow: hidden;
    font-weight: bold; /*grassetto*/
    font-size: 15px;
    display: flex;
    align-items: center; /* allineamento verticale*/
    justify-content: space-between;
    position: fixed;
    margin-right: 1rem;
    font-family: Poppins, sans-serif;
    z-index: 1;

}

.navbar div span a, .navbar div span img {
    float: right;
    padding: 6px 12px; /* 2: alto & basso, sinistra & destra | 3 o 4: alto, destra, basso, sinistro */
    height: 15px;
    line-height: 15px;
    text-decoration: none; /*per togliere il sottolineato*/
    margin-right: 16px;
}

.split-left {
    width: 30%;
    float: left;
    padding-left: 100px;
}

.img2{
    display: none;
}

.split-right {
    width: 64%;
    float: right;
    font-size: 15px;
    padding: 6px 12px; /*6px top e 12px left and right*/
    align-items: center;
    margin-right: 16px;
}

.spacenav{
    width: 6%;
}
.user {
    padding: 0;
    margin-right: 0;
}


.resizetuttosport {
    float: left;
}

.roundedlive-img {
    border-radius: 18px;
    border: 1px solid red;
    color: red;
    background: white;
    opacity: 0.8;
}

.rounded1-img {
    border-radius: 18px;
    border: 1px solid black;
    height: 10px;
    color: black;
    background: white;
    opacity: 0.8;
}

.fullrounded-img {
    border-radius: 18px;
    background: #47c072;
    height: 10px;
    color: white;
}

