body {
    margin: 0; /*togliere spazio bianco in cima alla pagina*/
}

.style-color {
    color: #8b351d;
}

.bg-color {
    background-color: #8b351d;
}

.underline a {
    text-decoration: none;
    color: #282828;

}

.underline:hover {
    text-decoration: underline;
}

.gray-border {
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 18px;
    background-color: #f2f2f2;
    padding: 5px 15px;
    float: right;
    margin-top: -25px;
}

#mainsize {
    width: 100%;
    display: block;
}

.container {
    max-width: 1018px;
    margin: 0 auto;
}

.rotation {
    transform: rotate(-3deg);
    float: left;
    position: relative;
    width: 100%;
    top: -30px;
}

.tag {
    display: flex;
    justify-content: space-between;
}

hr {
    width: 100%;
    margin: 30px;
    border: 1px solid #f2f2f2;
}

.div-cont {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.div-cont div {
    padding-right: 32px;
    text-align: center;
}

.rettangolo {
    font-weight: 700;
    text-decoration: none;
    color: #282828;
}

.divider {
    width: 4%;
    border: 2px solid #E0E0E0; /*per mettere la linea spessa*/
    margin-left: 0; /*per allinare a sinistra*/
}

.primopiano {
    font-family: "Poppins", sans-serif;
    font-size: 44px;
    font-weight: 800;
    color: #4984b8;
    text-align: left;
    margin-bottom: 15px;
}

.small-text {
    font-family: "Couplet CF", "CoupletCF-fallback", sans-serif;
    font-size: 25px;
    font-weight: 800;
    margin-top: 7px;
    line-height: 1.05;
}

.medium-text {
    font-family: "Couplet CF", "CoupletCF-fallback", sans-serif;
    font-size: 35px;
    font-weight: 800;
    margin-top: 10px;
    line-height: 1.05;
}

.big-text {
    font-family: "Couplet CF", "CoupletCF-fallback", sans-serif;
    font-size: 60px;
    margin-top: 120px;
    line-height: 1;
}

.data {
    text-align: left;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;

}

.grid-container {
    display: grid;
    grid-template-columns: 300px 300px auto;
    column-gap: 32px;
    row-gap: 20px;
}

.empty-space {
    margin-top: 20px;
    margin-bottom: 20px;
}

.item1 {
    /*background-color: red;*/
    grid-column-end: span 2;
}

.item2 {
    /*background-color: blue;*/
    grid-row-end: span 2;
    text-align: center;
}

.item3 {
    /*background-color: yellow;*/
}

.item4 {
    /*background-color: #47c072;*/
}

.item5 {
    /*background-color: palevioletred;*/
}

.item6 {
    /*background-color: aquamarine;*/
}

.item7 {
    /*background-color: red;*/
}


.grid-container-1 {
    display: grid;
    grid-template-columns:  632px auto;
    column-gap: 32px;
}

.item1-1 {
    /*background-color: chartreuse;*/
}
.item1-1 video {
    width: 632px;
    height: 377px;
}

.item1-2 {
    margin-top: 60px;
}

.adv {
    /*background-color: slateblue;*/
    text-align: center;
    margin-left: 8px;
}

.grid-container-2 {
    display: grid;
    grid-template-columns:  252px 252px 252px 252px;
    column-gap: 7px;
    row-gap: 20px;
}

.item2-5 {
    grid-column-end: span 2;
}

.item2-6 {
    grid-column-end: span 2;
}

/*.divcontainer {
    max-width: 1018px;
    margin: 20px auto;
}*/

.scommesse {
    font-family: Poppins, sans-serif;
    color: #282828;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 10px;
}


.columns-footer {
    display: grid;
    /*max-width: 1018px;*/
    /*margin: 20px auto;*/
    background-color: #282828;
    color: white;
    grid-template-columns:  auto auto auto auto auto auto;
    column-gap: 32px;

}
