@font-face {
    font-family: "Siria";
    src: url("font/Poppins/Poppins-Light.ttf");
    font-weight: 400;
}

body {
    margin: 0; /*togliere spazio bianco in cima alla pagina*/
}

.style-color {
    color: #8b351d;
}

.bg-color {
    background-color: #8b351d;
}

.underline a {
    text-decoration: none;
    color: #282828;

}

.underline:hover {
    text-decoration: underline;
}

.gray-border {
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 18px;
    background-color: #f2f2f2;
    padding: 5px 15px;
    float: right;
    margin-top: -25px;
}

.bigimg img {
    width: 100%;
    display: block;
}

.container {
    max-width: 1018px;
    margin: 0 auto;
}

.rotation {
    transform: rotate(-3deg);
    float: left;
    position: relative;
    width: 100%;
    top: -30px;
}

.tag {
    display: flex;
    justify-content: space-between;
}

hr {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
    border: 1px solid #f2f2f2;
}

.div-cont {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.div-cont div {
    padding-right: 32px;
    text-align: center;
}

.rettangolo {
    font-weight: 700;
    text-decoration: none;
    color: #282828;
}

.adv-responsive img {
    max-width: 100%;
    height: auto;
}


.divider {
    width: 4%;
    border: 2px solid #E0E0E0; /*per mettere la linea spessa*/
    margin-left: 0; /*per allinare a sinistra*/
}

.blue-title {
    font-family: "Poppins", sans-serif;
    font-size: 44px;
    font-weight: 800;
    color: #4984b8;
    text-align: left;
    margin-bottom: 15px;
}

.small-text {
    font-family: "Couplet CF", "CoupletCF-fallback", sans-serif;
    font-size: 25px;
    font-weight: 800;
    margin-top: 7px;
    line-height: 1.05;
}

.medium-text {
    font-family: "Couplet CF", "CoupletCF-fallback", sans-serif;
    font-size: 35px;
    font-weight: 800;
    margin-top: 10px;
    line-height: 1.05;
}

.big-text {
    font-family: "Couplet CF", "CoupletCF-fallback", sans-serif;
    font-size: 60px;
    margin-top: 120px;
    line-height: 1;
}

.data {
    text-align: left;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.grid-container {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 300px 300px auto;
    column-gap: 32px;
    row-gap: 20px;
}

.empty-space {
    margin-top: 20px;
    margin-bottom: 20px;
}

.item1 {
    /*background-color: red;*/
    grid-column-end: span 2;
}

.item2 {
    /*background-color: blue;*/
    grid-row-end: span 2;
    text-align: center;
}

.item2-adv2 {
    display: none;
}


.item3 {
    /*background-color: yellow;*/
}

.item4 {
    /*background-color: #47c072;*/
}

.item5 {
    /*background-color: palevioletred;*/
}

.item6 {
    /*background-color: aquamarine;*/
}

.item7 {
    /*background-color: red;*/
}

.item7-img{
    width: 352px;
    height: 176px;
}

.grid-container-1 {
    display: grid;
    grid-template-columns:  632px auto;
    column-gap: 32px;
    box-sizing: border-box;
}

.item1-1 {
    /*background-color: chartreuse;*/
}

.item1-1 video {
    width: 632px;
    height: 377px;
}

.item1-2 {
    margin-top: 60px;
}

.adv {
    /*background-color: slateblue;*/
    text-align: center;
    margin-left: 8px;
    max-width: 100%;
    height: auto;

}

.grid-container-2 {
    display: grid;
    grid-template-columns:  252px 252px 252px 252px;
    column-gap: 7px;
    row-gap: 20px;
    box-sizing: border-box;
}

.item2-5 {
    grid-column-end: span 2;
}

.item2-6 {
    grid-column-end: span 2;
}

.sub-title {
    font-family: Poppins, sans-serif;
    color: #282828;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 10px;
}

.grid-container-3 {
    display: grid;
    grid-template-columns: 632px auto;
    column-gap: 32px;
    row-gap: 20px;
    box-sizing: border-box;
}

.cont2 {
    grid-row-end: span 2;
}

.style-green {
    font-family: "Couplet CF", "CoupletCF-fallback", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #47c072;
    padding-left: 10px;

}


.footer {
    background-color: #282828;
    color: white;
    font-family: "Siria", sans-serif;
    margin-left: 0;
    padding-left: 15px;
}

.grid-footer {
    display: grid;
    grid-template-columns:  auto auto auto auto auto auto;
    box-sizing: border-box;
}

.grid-footer div ul {
    padding-left: 0;
    list-style-type: none; /*togliere pti lista*/
}

.grid-footer div ul li a {
    text-decoration: none;
    color: white;
}

.grid-footer div ul li a:hover {
    text-decoration: underline;
}

.grid-footer div ul li {
    text-align: left;
}

.divider-1 {
    width: 30%;
    border: 2px solid #696969; /*per mettere la linea spessa*/
    margin-left: 0; /* per allinare a sinistra*/
    margin-bottom: 12px;
}

.style-columns-footer {
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
}

.grid-footer-1 {
    display: grid;
    grid-template-columns:  auto auto auto auto;
    justify-content: left;
    box-sizing: border-box;
}

.grid-footer-1 div a {
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

.grid-footer-1 div a:hover {
    text-decoration: underline;
}

.divider-2 {
    width: 98%;
    border: 1px solid #696969; /*per mettere la linea spessa*/
    text-align: center;
    margin-bottom: 10px;
}


.grid-footer-2 {
    display: grid;
    grid-template-columns: auto 300px 300px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.leggi {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 10px;

}

.footer2img {
    margin-top: -60px;
    text-align: right;
}

.grid-footer-3 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    margin-top: 5px;
    box-sizing: border-box;

}

.style-abbonati {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    border-radius: 18px;
    background: white;
    padding: 2px 10px 2px 10px;
    margin-right: 10px;

}

.style-abbonati a{
    text-decoration: none;
    color: #282828;
}

.leggi-online {
    text-align: right;
}

.leggi-online a {
    text-decoration: none;
    color: white;
}

.leggi-online a:hover {
    text-decoration: underline;
}


.mainadv1{
    display: none;
}

.mainadv1 img{
    max-width: 100%;
}